*{
				margin: 0;
				padding: 0;
			}
			h1{
				text-align: center;
			}
			.wrap{
				padding: 0 300px;
				overflow: hidden;
			}
			.pl{
				text-align: center;
			}
			.form-control{
				width: 200px;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.box{
				position: relative;
				display: inline-block;
			}
			.move{
				width: 200px;
				height: 200px;
				position: absolute;
				top:0;
				left: 0;
				border: 2px solid red;
				cursor: pointer;
			}
			.xuanzhong{
				margin-bottom: 10px;
			}
			#tulip{
				width: 300px;
				height: 300px;
			}
